html{

   /*  height: 100px; */
     margin: 0 auto;
     min-width: 100%;
     min-height: 100%;
   
   }
   
   body {
       display: flex;
       flex-direction: column;
       width: 100%;
       min-width: 100%;
    
     /*    height: 1200px; */
       margin: 0 auto;
       font-family: "Lato", sans-serif;
       font-size: 20pt;
       font-weight: normal;
       background: rgb(238, 245, 247); /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Firefox 3.6 to 15 */
       background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
     }
     
   
                           /* MAIN */
   
   
   main {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    flex: auto;
   }
   
     h3,h5{
   
       background-color:whitesmoke;
       border-radius: 50px;
       margin:15%;
       
     }
     
                                                       /* HEADER + STICKY */
   
   HEADER{

     height:120PX;
     min-height: 120px;
     font-family: "Lato", sans-serif;
     font-size: 20pt;
     font-weight: normal;
     opacity: 0.9;
     border-radius: 0px 12px 45px 0px;
     }                                                                /* STiKy */
   
       #myHeader{
         min-width: 90%;
         paDding:2%;
         opacity:0.8;
       }
       
       
       .sticky {
         position: fixed;
         width: 100%;
       }
   
                                                                 /* Header Images */
   
       .ImgHeader{
         
           position: relative;
           border-radius: 45px;
           margin: 5%; 
         }
   
                                                                   /* BTONS HEADER */
       
       a.btn-oneborder {
         font-size: 13px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: .2em;
         border-width: 2px;
         border-style: solid;
         display: inline-block;
         text-decoration: none;
         text-align: center;
         cursor: pointer;
         border-radius:25px;
         position: relative;
         background: rgba(0, 0, 0, 0);
         color: BLACK;
         border-color: BLACK;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         padding: 10px 15px;
         line-height: 15px;
         -webkit-transition: all 2s ease 0s;
         -moz-transition: all 0.6s ease 0s;
         -o-transition: all 0.6s ease 0s;
         transition: all 0.6s ease 0s;
         margin: 2%;
       }
       
       a.btn-oneborder:hover {
         border-color: #FFF;
         color: #FFF;
       }
   
       a.btn-oneborder.trans:hover {
         background: #ffffff;
         opacity: 0.8;
       }
                                                           /* SEARCH BAR */
   
       input.Input-Onborder {
         font-size: 13px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: .2em;
         border-width: 2px;
         border-style: solid;
         display: inline-block;
         text-decoration: none;
         text-align: center;
         cursor: pointer;
         background: rgba(0, 0, 0, 0);
         color: whitesmoke;
         border-color: whitesmoke;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         padding: 10px 15px;
         line-height: 15px;
         -webkit-transition: all 3s ease 0s;
         -moz-transition: all 3s ease 0s;
         -o-transition: all 3s ease 0s;
         transition: all 3s ease 0s;
         margin: 0 0 0 1%;
       }
   
  
       input.Input-Onborder:hover {
         border-color: #FFF;
         color: black;
         background-color: whitesmoke;
         border-color: black;
         width: 400px;
         border-radius: 35px 45px 45px 55px;
         -webkit-transition: all 3s ease 0s;
         -moz-transition: all 3s ease 0s;
         -o-transition: all 3s ease 0s;
         transition: all 3s ease 0s;
   
   
      }
   
   
 input.Input-Onborder.trans:hover {
         background: #ffffff;
         opacity: 0.8;
      
  }
         
                                                             

                                                       /* ARTICLES */
   
   article,aside{
       
       position: relative;
       overflow-y: auto;
   }
   
   .articleOne{
        z-index: 0;  
       text-align: center;
       background-color: white;
       color: black;
       width: 100%;
       height: 500px;
       display: flex;
       align-content: flex-start;
      
      
   }
   
   
   .articleTwo{
         z-index: 0;
       text-align: center;
       background-color: black;
       color: white;
       width: 30%;

   }
   

   #smart_thumbnail{
    z-index: 2;
    width: 40%;
    height: 75%;
    margin: 5% 0 0 0;
    transition: 1s;
   }

   #big_thumbnail{
    z-index: 2;
    width: 100%;
    height: 100%; 
    transition: 1s;
    margin: 0 10% 0 2%;
   }
   
                            
                                                  /* FOOTER */
   footer{
          
    WIDTH:100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 2 47); 
    background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
    opacity: 0.9;
    
  }

.AFooter{
height: 220px;
width:80%;
display: flex;
align-items: center;
opacity: 0.9;
justify-content: space-between;

}


.ImgFooter{

position: relative;
border-radius: 45px;
margin: 5%;


}
              
     