html{

    width: 100%;
    height: 100%;
}

body {
    /* width: 100%;
    height: 600px; */
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  
  main {
    margin: 100px auto;
    max-width: 20%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: white;
    opacity: 0.4;
    width: 20%;
    height: 70%; 
    border-radius: 10px 50px 10px 50px;
    box-shadow: 10px 10px 20px grey;
    
  }
  img{
    max-width: 70%;
  }

  h3,h5{

    padding:20px;
    background-color:whitesmoke;
    border-radius: 50px;
    margin:20%;
    
  
    
  }

  div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
  

  