html{

    

   }
   
body {

    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
        -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Firefox 3.6 to 15 */
       background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
     }
     
   
                                                   /* MAIN */


main {

    DISPLAY: flex;
    JUSTIFY-CONTENT: space-between;
     
   }
                                
                                               /* ARTICLES */
   
article{
        
    
    }
   
                                                  /* FOOTER */
footer{

    DISPLAY: flex;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
    align-items: center;
    TOP: 400PX;
    POSITION: RELATIVE;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 2 47); 
    background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
    opacity: 0.9;    
}

.AFooter{


}


.ImgFooter{
    width: 50PX;
    height: 50PX; 
    margin: 40PX;
    BORDER-RADIUS: 25PX;
    transition:0.6s;
    opacity: 0.6; 
    z-index: 0;

}

  
img{
  
    width: 200PX;
    height: 200PX; 
    margin: 2%;
    transition:0.6s;
    opacity: 0.6; 
    z-index: 0;
  
}
  
  

     #smart_thumbnail{
        /* z-index: 0;  */
        } 
      
    #smart_thumbnail2{
        /* z-index: 0;  */
        }


    .big_thumbnail{
  
      z-index: 0;
      width: 500px;
      height: 400PX;
      max-width: 500PX;
      /* height: 20%; */  
      transition: 0.5s;
      margin: 100PX 0 -200PX 0;
      opacity: 1;
      z-index: 50;
      flex-wrap: wrap-reverse;
     }
                            
              
     