html{

   /*  height: 100px; */
     margin: 0 auto;
     min-width: 100%;
     min-height: 100%;
   
   }
   
   body {
       display: flex;
       flex-direction: column;
       width: 100%;
       min-width: 100%;
    
     /*    height: 1200px; */
       margin: 0 auto;
       font-family: "Lato", sans-serif;
       font-size: 20pt;
       font-weight: normal;
       background: rgb(238, 245, 247); /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Firefox 3.6 to 15 */
       background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
     }
     
   
                           /* MAIN */
   
   body{

    display: flex;
    flex-direction: column;
    width: 100%;
   }


   main {

    width: 100%;
    height: 70%;
    /*  display: flex;
     flex-direction: row; */
     
   }
                                

                            /* ARTICLES */
   
   article{
        
       transition: 0.2s;  
       display: flex;
       flex-direction: row;    
    }
   

  #smart_thumbnail{
    /* z-index: 0;  */
   } 
   #smart_thumbnail2{
    /* z-index: 0;  */
   }

   img{
    width: 200PX;
    height: 200PX; 
    margin: 2%;
    transition:0.6s;
    opacity: 0.6; 
    z-index: 0;
   }


   .big_thumbnail{
    z-index: 0;
    width: 500px;
    max-width: 500PX;
    /* height: 20%; */  
    transition: 0.5s;
    margin: 0 0 0 0;
    opacity: 1;
    z-index: 50;

   }
   


                            
                                                  /* FOOTER */
   footer{
          
    WIDTH:100%;
    position: relative;
    display: flex;
   
    justify-content: space-evenly;
    z-index: 1;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 2 47); 
    background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
    opacity: 0.9;
    
  }

.AFooter{
height: 220px;
width:80%;
display: flex;
align-items: center;
opacity: 0.9;
justify-content: space-between;

}


.ImgFooter{

position: relative;
border-radius: 45px;
margin: 5%;


}
              
     