
body{
width: 100%;
height: 100%;

}
main{
    height: 100%;
    text-shadow: 3px 2px red;

}


header{
    width: 100%;
    height: 100px;
    color: antiquewhite;
    background-color: #01010a;
    border-radius: 15px;
    margin: 0%;
    box-shadow: 5px 10px 20px #c2c2c2;
    opacity: 0.9;  
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}


#FlexUl{
    width: 100%;
    height:100%;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;

    }

div{
   
    background-color: black;
    margin: 1%;
    color: blanchedalmond;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    opacity: 0.9.5;
   
}

#RedDiv{
    background-color: #b50900;
    box-shadow: 10px 10px 10px 2px #ff6363;
    width: 15%;
    height: 100px;
}

#BlueDiv{
    background-color: #2402a1;
    box-shadow: 10px 10px 10px 2px #a1a1ff;
    width: 13%;
    height: 100px;
    
}
#YelowDiv{
    background-color:#d1a104;
    box-shadow: 10px 10px 10px 2px #ffe48c;
    width: 10%;
    height: 100px;
    
    
}

 
footer{

    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: 25%;
    width: 290px;
    /* height: 90px; */
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
   
  }