

menu{
    width: 95%;
    height: 200px;
    color: antiquewhite;
    background-color: #01010a;
    border-radius: 15px;
    margin: 2%;
    align-self: center;
    box-shadow: 5px 10px 20px #c2c2c2;
    opacity: 0.9;
    
    /* position: sticky; */
}

#FlexUl{
    width: 90%;
    height:80%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    }

div{
   
    background-color: black;
    margin: 1%;
    color: blanchedalmond;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    opacity: 0.9.5;

    
}

#RedDiv{
    background-color: #b50900;
    box-shadow: 10px 10px 10px 2px #ff6363;
    width: 15%;
    height: 400px;
}

#BlueDiv{
    background-color: #2402a1;
    box-shadow: 10px 10px 10px 2px #a1a1ff;
    width: 13%;
    height: 300px;
    
}
#YelowDiv{
    background-color:#d1a104;
    box-shadow: 10px 10px 10px 2px #ffe48c;
    width: 10%;
    height: 200px;
    
    
}

.FlexH{

   align-self: center;
   
}