body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  
  main {
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-color: white;
    opacity: 0.4;
    width: 30%;
    height: 70%;
    border-radius: 10px 50px 10px 50px;
    
  }
  img{

    max-width: 70%;
  }
  

  