

menu{
    width: 95%;
    height: 200px;
    background-color: darkorchid;
    border-radius: 15px;
    margin: 2%;
    align-self: center;
    box-shadow: 5px 10px #888888;
    
    /* position: sticky; */
}

#FlexUl{
    width: 90%;
    height:80%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    }

div{
    width: 13%;
    height: 400px;
    background-color: black;
    margin: 1%;
    color: blanchedalmond;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
}

#RedDiv{
    background-color: #b50900;
}

#BlueDiv{background-color: #2402a1;}
#YelowDiv{background-color:#d1a104;}