

menu{

    width: 100%;
    height: 200px;
    background-color: darkorchid;
}

#FlexUl{
    width: 90%;
    height:80%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    }

div{
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 1%;
    color: blanchedalmond;
    
}
