html{

 /*  width: 500px; */
 height: 1400px;
  margin: 0 auto;
   /*  justify-content:space-around ;
    flex-direction: column; */
    /* z-index: 0; */
}






body {
    width: 100%;
    height: 50%; 
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  

                        /* MAIN */


main {

    width: 15%;
    position: relative;
    left: 40%;
    z-index: 1; 
    text-align: center;
    margin: 2% 0 2% 0;
    padding: 2%;
    background-color: white;
    opacity: 0.4;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 10px 10px 20px grey;
    
  }
  img{
    max-width: 70%;
  }

  h3,h5{

    /* padding:20px; */
    background-color:whitesmoke;
    border-radius: 50px;
    margin:15%;
    
  }

 /*  div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  } */

  .videoBackground{

    position: absolute;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -1;

  }
  
  /* HEADER + STICKY */

HEADER{
  WIDTH:1024PX;
  min-width: 100%;
  height:120PX;
  min-height: 120px;
  /* position: relative; */
 /*  right:400px ; */
  margin: 0 0px 0px -2%;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  /* background: rgb(238, 245, 2 47); 
  background: linear-gradient(-190deg, rgb(238, 245, 247), black); */
  opacity: 0.9;
  border-radius: 0px 12px 45px 0px;
  }



    /* STiKy */

    #myHeader{
      
      margin:1%;
      paDding:2%;
      opacity:1;
    }
    
    
    .sticky {
      position: fixed;
      width: 100%;
    }
    /* Header Images */

    .ImgHeader{
      
        position: relative;
        border-radius: 45px;
        margin: 5%;
        
        
      }

    /* BTONS HEADER */
    
    a.btn-oneborder {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .2em;
      border-width: 2px;
      border-style: solid;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      border-radius:25px;
      position: relative;
      background: rgba(0, 0, 0, 0);
      color: BLACK;
      border-color: BLACK;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px 15px;
      line-height: 15px;
      -webkit-transition: all 2s ease 0s;
      -moz-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s;
      margin: 2%;
    }
    
    a.btn-oneborder:hover {
      border-color: #FFF;
      color: #FFF;
    }

    a.btn-oneborder.trans:hover {
      background: #ffffff;
      opacity: 0.8;
    }

      /* SEARCH BAR */

    input.Input-Onborder {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .2em;
      border-width: 2px;
      border-style: solid;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      color: whitesmoke;
      border-color: whitesmoke;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px 15px;
      line-height: 15px;
      -webkit-transition: all 3s ease 0s;
      -moz-transition: all 3s ease 0s;
      -o-transition: all 3s ease 0s;
      transition: all 3s ease 0s;
      margin: 0 0 0 1%;
    }


    input.Input-Onborder:hover {
      border-color: #FFF;
      color: black;
      background-color: whitesmoke;
      border-color: black;
      width: 400px;
      /* height: 20px; */
      border-radius: 35px 45px 45px 55px;
      -webkit-transition: all 3s ease 0s;
      -moz-transition: all 3s ease 0s;
      -o-transition: all 3s ease 0s;
      transition: all 3s ease 0s;


    }


    input.Input-Onborder.trans:hover {
      background: #ffffff;
      opacity: 0.8;
   
    }
      

      /* FOOTER + IMG  */

      footer{
       
        /* min-width: 400px;
        min-height: 800px; */
         /* position:fixed; */
          WIDTH:100%;
          height:30%;
          margin: 0px 0px 0px 0px;
          font-family: "Lato", sans-serif;
          font-size: 20pt;
          font-weight: normal;
          background: rgb(238, 245, 2 47); 
          background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
          opacity: 0.9;
          border-radius: 12px 12px 0px 0px;
          display: flex;
          justify-content: flex-end;
          flex-direction: row;  
          justify-content: space-evenly;
          z-index: 1;
          padding-bottom: -50px;
          
        }

    .AFooter{

      width:80%;
      display: flex;
      align-items: center;
      opacity: 0.9;
      justify-content: space-between;

    }


    .ImgFooter{
      
      position: relative;
      border-radius: 45px;
      margin: 5%;
      
      
    }

article{

    width: 100%;
    height: 20%;
    background-color: wheat;
    position: relative;
}

  