html{

    

   }
   
body {

    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
        -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       );
     /* For Firefox 3.6 to 15 */
       background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
     }
     
   
                                                   /* MAIN */


main {

    DISPLAY: flex;
    JUSTIFY-CONTENT: center;
    background-color: darkred;
    height: 320px;
    opacity: 0.9;
     
   }
                                
                                               /* ARTICLES */
   
article{
        margin:2%;
    
    }



    #articleTwo{

        margin:-10% 0 -15% 0;
        background-color: whitesmoke;
        height: 400px;
    }


    .coments{
        z-index: 1;
        background-color: black;
        width: 500px;

    }



   
                                                  /* FOOTER */
footer{

    DISPLAY: flex;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
    align-items: center;
    TOP: 200PX;
    POSITION: RELATIVE;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 2 47); 
    background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
    opacity: 0.9;    
}

.AFooter{


}


.ImgFooter{
    width: 50PX;
    height: 50PX; 
    margin: 40PX;
    BORDER-RADIUS: 25PX;
    transition:0.6s;
    opacity: 0.6; 
    z-index: 0;

}

  
img{
  
    width: 200PX;
    height: 200PX; 
    margin: 2%;
    transition:0.6s;
    opacity: 0.6; 
    z-index: 0;
    border-radius: 100px;
    
}
  
  

     #smart_thumbnail{
        /* z-index: 0;  */
        } 
      
    #smart_thumbnail2{
        /* z-index: 0;  */
        }


    .big_thumbnail{
  
      z-index: 0;
      width: 450px;
      height: 350PX;
      max-width: 500PX;
      /* height: 20%; */  
      transition: 0.5s;
      /* margin: 100PX 0 -200PX 0; */
      opacity: 1;
      
      flex-wrap: wrap-reverse;
     }
                        
     
                                                                /* HEADER + STICKY */

HEADER{
    WIDTH:1024PX;
    min-width: 100%;
    height:120PX;
    min-height: 120px;
    margin: 0 0px 0px -2%;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    opacity: 0.9;
    border-radius: 0px 12px 45px 0px;
    }

                                                                    /* STiKy */
  
      #myHeader{
        min-width: 90%;
        paDding: 2%;
        opacity: 0.8;
        z-index: 5000;
      }
      
      
      .sticky {
        position: fixed;
        width: 100%;
      }
  
                                                                /* Header Images */
  
      .ImgHeader{
        
         
          border-radius: 45px;
          margin: 5%; 
        }
  
                                                                  /* BTONS HEADER */
      
      a.btn-oneborder {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border-radius:25px;
        position: relative;
        background: rgba(0, 0, 0, 0);
        color: BLACK;
        border-color: BLACK;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 15px;
        line-height: 15px;
        -webkit-transition: all 2s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
        margin: 2%;
      }
      
      a.btn-oneborder:hover {
        border-color: #FFF;
        color: #FFF;
      }
  
      a.btn-oneborder.trans:hover {
        background: #ffffff;
        opacity: 0.8;
      }
  
                                                                /* SEARCH BAR */
  
      input.Input-Onborder {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        color: whitesmoke;
        border-color: whitesmoke;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 15px;
        line-height: 15px;
        -webkit-transition: all 3s ease 0s;
        -moz-transition: all 3s ease 0s;
        -o-transition: all 3s ease 0s;
        transition: all 3s ease 0s;
        margin: 0 0 0 1%;
      }
  
  
      input.Input-Onborder:hover {
        border-color: #FFF;
        color: black;
        background-color: whitesmoke;
        border-color: black;
        width: 400px;
        border-radius: 35px 45px 45px 55px;
        -webkit-transition: all 3s ease 0s;
        -moz-transition: all 3s ease 0s;
        -o-transition: all 3s ease 0s;
        transition: all 3s ease 0s;
  
  
      }
  
  
      input.Input-Onborder.trans:hover {
        background: #ffffff;
        opacity: 0.8;
     
      }
              
     