html{

   /*  height: 100px; */
     margin: 0 auto;
     min-width: 100%;
     min-height: 100%;
   
   }
   
   body {
       display: flex;
       flex-direction: column;
       width: 100%;
       min-width: 100%;
       margin: 0 auto;
       font-family: "Lato", sans-serif;
       font-size: 20pt;
       font-weight: normal;
       background: rgb(238, 245, 247); /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(
         -90deg,
         rgb(238, 245, 247),
         black
       ); /* For Firefox 3.6 to 15 */
       background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
     }
     
   
                           /* MAIN */
   
   
   main {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    flex: auto;
   }
   
    
   
   
 
   
   article,aside{
       
       position: relative;
       overflow-y: auto;
   }
   
   .articleOne{
      z-index: 0;  
       text-align: center;
       background-color: white;
       color: black;
       width: 100%;
       height: 500px;
       display: flex;
       align-content: center;
       FLEX-DIRECTION: column;
      
      
   }

   
   .big_thumbnail{
    z-index: 0;
    width: 100%;
    height: 100%;  
    transition: 5s;
    margin: 0 0 0 0;
   }
   


  #smart_thumbnail{
    z-index: 2;
    width: 50%;
    height: 100%; 
    margin: 0 0 0 0;
    transition: 6s;
    opacity: 0.2; 
    
   } 


     