html{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;   
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  background: rgb(238, 245, 247); 
  background: -webkit-linear-gradient(
    -90deg,
    rgb(238, 245, 247),
    black
  ); /* Safari*/
  background: -o-linear-gradient(
    -90deg,
    rgb(238, 245, 247),
    black
  ); /* Opera */
  background: -moz-linear-gradient(
    -90deg,
    rgb(238, 245, 247),
    black
  ); /* Firefox */
  background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard */
}

/* TWEETS + TWEETS CONTAINER */

#TWEETS {
  z-index: -1;
  margin: 5%;
  text-align: center;
  padding: 7%;
  background-color: white;
  opacity: 0.8;
  height: auto; 
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px grey;
  width:2%;
  display: flex;
  justify-content: center;
}

#MainFlex{
  z-index:-1 ;
  display: flex; 
  flex-direction: row;
  justify-content:space-evenly;
 
}

                                                   /* HEADER */
HEADER{
    WIDTH:1024PX;
    min-width: 100%;
    height:120PX;
    min-height: 120px;
    margin: 0 0px 0px -2%;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    opacity: 0.9;
    border-radius: 0px 12px 45px 0px;
    }
  
  
  
                                                                    /* STiKy */
  
      #myHeader{
        min-width: 90%;
        paDding:2%;
        opacity:0.8;
      }
      
      
      .sticky {
        position: fixed;
        width: 100%;
      }
  
                                                                /* Header Images */
  
      .ImgHeader{
        
          position: relative;
          border-radius: 45px;
          margin: 5%; 
        }
  
                                                                  /* BTONS HEADER */
      
      a.btn-oneborder {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border-radius:25px;
        position: relative;
        background: rgba(0, 0, 0, 0);
        color: BLACK;
        border-color: BLACK;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 15px;
        line-height: 15px;
        -webkit-transition: all 2s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
        margin: 2%;
      }
      
      a.btn-oneborder:hover {
        border-color: #FFF;
        color: #FFF;
      }
  
      a.btn-oneborder.trans:hover {
        background: #ffffff;
        opacity: 0.8;
      }
  
                                                                /* SEARCH BAR */
  
      input.Input-Onborder {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        color: whitesmoke;
        border-color: whitesmoke;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 15px;
        line-height: 15px;
        -webkit-transition: all 3s ease 0s;
        -moz-transition: all 3s ease 0s;
        -o-transition: all 3s ease 0s;
        transition: all 3s ease 0s;
        margin: 0 0 0 1%;
      }
  
  
      input.Input-Onborder:hover {
        border-color: #FFF;
        color: black;
        background-color: whitesmoke;
        border-color: black;
        width: 400px;
        border-radius: 35px 45px 45px 55px;
        -webkit-transition: all 3s ease 0s;
        -moz-transition: all 3s ease 0s;
        -o-transition: all 3s ease 0s;
        transition: all 3s ease 0s;
  
  
      }
  
  
      input.Input-Onborder.trans:hover {
        background: #ffffff;
        opacity: 0.8;
     
      }
        

      /* FOOTER + IMG  */

      footer{

          WIDTH:100%;
          height:30%;
          margin: 0px 0px 0px 0px;
          font-family: "Lato", sans-serif;
          font-size: 20pt;
          font-weight: normal;
          background: rgb(238, 245, 2 47); 
          background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
          opacity: 0.9;
          border-radius: 12px 12px 0px 0px;
          display: flex;
          justify-content: flex-end;
          flex-direction: row;  
          justify-content: space-evenly;
          
        }

    .AFooter{

      width:80%;
      display: flex;
      align-items: center;
      opacity: 0.9;
      justify-content: space-between;

    }


    .ImgFooter{
      
      position: relative;
      border-radius: 45px;
      margin: 5%;
      
      
    }


 

  