/* html{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    
} */

body {
    /* width: 100%;
    height: 600px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); 
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Safari*/
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Opera */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Firefox */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  
  main {
    margin: 0 -2% 0 10% ;
    max-width: 20%;
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-content: center;
    padding: 7%;
    background-color: white;
    opacity: 0.4;
    width: 5%;
    height: auto; 
    border-radius: 10px 50px 10px 50px;
    box-shadow: 10px 10px 20px grey;
    
    
  }

  #DivFlex{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    margin: 15% 15% 15% 0;
    max-width: 80%;
  }
  

  