html{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}


body {
    /* width: 100%;
    height: 600px; 
    
    flex-direction: row;
    align-content: center;
    justify-content: flex-start; */
   
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); 
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Safari*/
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Opera */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Firefox */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  
  main {
    margin: 5%;
    text-align: center;
    padding: 7%;
    background-color: white;
    opacity: 0.4;
    height: auto; 
    border-radius: 10px 50px 10px 50px;
    box-shadow: 10px 10px 20px grey;
    width:4%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    
    
    
    
  }

  #DivFlex{
    display: flex; 
    /* justify-content: space-between; */
    flex-direction: row;
    justify-content:center;
   /*  justify-content: space-between; */
  
    /* margin: 5% 15% 15% 0;*/
    max-width: 90%;
   
  }

  .twitter-tweet{
    max-width: 100px;
  }
  

  