html{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 247); 
    background: -webkit-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Safari*/
    background: -o-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Opera */
    background: -moz-linear-gradient(
      -90deg,
      rgb(238, 245, 247),
      black
    ); /* Firefox */
    background: linear-gradient(-90deg, rgb(238, 245, 247), black); /* Standard syntax */
  }
  
  main {
    margin: 5%;
    text-align: center;
    padding: 7%;
    background-color: white;
    opacity: 0.8;
    height: auto; 
    border-radius: 10px 50px 10px 50px;
    box-shadow: 10px 10px 20px grey;
    width:2%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    
    
    
    
  }

  #DivFlex{
    display: flex; 
    /* justify-content: space-between; */
    flex-direction: row;
    justify-content:space-evenly;
   /*  justify-content: space-between; */
  
    /* margin: 5% 15% 15% 0;*/
   
   
  }

  .blockquote.twitter-tweet{
   height: 10px;
  }

  HEADER{
  
    WIDTH:99%;
    height:15%;
    margin: 10px 0px 0px 0px;
    background-color:white;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(238, 245, 2 47); 
    background: linear-gradient(-190deg, rgb(238, 245, 247), black); /* Standard syntax */
    opacity: 0.7;
    border-radius: 0px 12px 45px 0px;
    }

    footer{
  
      WIDTH:100%;
      height:20%;
      margin: 10px 0px 0px 0px;
  /*     background-color:white; */
      font-family: "Lato", sans-serif;
      font-size: 20pt;
      font-weight: normal;
      background: rgb(238, 245, 2 47); 
      background: linear-gradient(-190deg, rgb(0, 0, 0), black); /* Standard syntax */
      opacity: 0.9;
      border-radius: 12px 12px 0px 0px;
      }
  

      /* HEADER STYKI */

      body {
        height:1200px;
        width:100%;
        margin: 0;
        font-family: Arial, Helvetica, sanspserif;
      }
      #myHeader{
        justify-content: center;
       height:200px;
        margin:1%;
        paDding:2%;
        opacity:0.8;
      }
      
      .header {
       /*  align:center; */
        padding: 30px 16px ;
        background: #1235;
        color: #f1f1f1;
        display:flex;
      }
      
      .content {
        padding: 16px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 102px;
      }
      
      a.btn-oneborder {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border-radius:25px;
        
        position: relative;
        background: rgba(0, 0, 0, 0);
        color: BLACK;
        border-color: BLACK;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 15px;
        line-height: 15px;
        -webkit-transition: all 2s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
      }
      a.btn-oneborder:hover {
        border-color: #FFF;
        color: #FFF;
      }
      a.btn-oneborder.trans:hover {
        background: #ffffff;
        opacity: 0.8;
      }
  
 

  